*.class

*.project
*.classpath
*.log

**/.gradle/
**/.settings/
**/bin
**/build
**/temp/
**/.vscode

*.iml
*.ipr
*.iws

*.DS_Store

**/node_modules
**/package-lock.json
**/aws.properties

!build.gradle

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# VC++ 관련 내용들
*.ipch
*.manifest.*
*.res
*.lastbuildstate
*.vcxproj.*
*.tlog
*.vsp
*.idc
*.sdf
*.sln
*.suo
*.unsuccessfulbuild

경사로.cpp
스타트와링크.cpp